.btn {
	width: 100px;
	height: 100px;
	background-color: #d8af9f;
	border: 1px solid #3d654e;
	color: #3d654e;
	cursor: pointer;
	outline: none;
	font-size: 60px;

	&:hover {
		background-color: #e4d3a4;
		transition: 0.3s all ease;
	}
}
